<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>

        <!-- Discord Notifications -->
        <env name="DISCORD_WEBHOOK_URL" value="https://discord.com/api/webhooks/1417786948814110770/pXbDL-WTjd0kpORBIpjk-b7QVA_9u6B0HMMRDDlFtIlVLOoS78Vm5sP3f89LAuJrdnta"/>
        <env name="DISCORD_NOTIFICATIONS_ENABLED" value="true"/>
    </php>

    <!-- Extensions for Discord notifications (PHPUnit 10+) -->
    <extensions>
        <bootstrap class="Vendor\BarikoiApi\Tests\Support\DiscordTestListener"/>
    </extensions>
</phpunit>
